*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: creato-display;
  src: url(/assets/fonts/CreatoDisplay-Regular.otf);
}

@font-face {
  font-family: quick;
  src: url(/assets/fonts/Quick.ttf);
  font-display: block;
}

html {
  touch-action: manipulation;
  font-size: 62.5%;
  font-family: "creato-display";
}

body {
  overflow: hidden;
  background-color: #080808;
  color: #fff;
  user-select: none;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
}

.main {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  height: 100%;
}

header {
  height: 6rem;
  line-height: 6rem;
}

.heading {
  font-family: quick;
  font-size: 3.4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.toggle-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  border: none;
  background-color: #2f2f2f;
  cursor: pointer;
}

.toggle-panel {
  display: none;
}

.burger-menu-bar {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.3s, opacity 0.3s;
}

input:checked + .burger-menu .burger-menu-bar:nth-child(1) {
  transform: translateY(300%) rotateZ(45deg);
}

input:checked + .burger-menu .burger-menu-bar:nth-child(2) {
  opacity: 0;
}

input:checked + .burger-menu .burger-menu-bar:nth-child(3) {
  transform: translateY(-300%) rotateZ(-45deg);
}

.panel {
  transform: translateX(-100%);
  width: 100%;
  max-width: 28rem;
  height: calc(100% - 22rem);
  margin-top: 2rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;
  padding-left: 2rem;
  transition: transform 0.3s;
  background-color: #00000066;
}

.panel.open {
  display: inline-block;
  transform: translateX(0%);
}

.panel::-webkit-scrollbar {
  width: 0.4rem;
}

.panel::-webkit-scrollbar-track {
  background: transparent;
}

.panel::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
}

.search {
  background-color: transparent;
  display: block;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #666;
  color: #666;
  caret-color: #666;
}

.details {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.key {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
  right: 0;
  padding: 0 1.2rem;
  bottom: 3rem;
  width: 100%;
  max-width: 44rem;
}

.key-title {
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.key-scale {
  background: linear-gradient(
    to right,
    green,
    yellow,
    orange,
    red,
    darkred,
    transparent
  );
  height: 0.5rem;
  align-self: center;
}

.key-names {
  list-style-type: none;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.1rem;
}

.key-names li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quality-1,
.quality-2,
.quality-3,
.quality-4,
.quality-5 {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.quality-1 {
  background-color: green;
}
.quality-2 {
  background-color: yellow;
}
.quality-3 {
  background-color: orange;
}
.quality-4 {
  background-color: red;
}
.quality-5 {
  background-color: darkred;
}
.quality-6 {
  background-color: #222;
}

#charts {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin-top: 3rem;
  pointer-events: none;
}

.flex {
  display: flex;
  column-gap: 1rem;
}

@media screen and (max-height: 420px) {
  .panel {
    padding-top: 1.5rem;
  }
}
