*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

body {
  overflow: hidden;
  background-color: #080808;
  user-select: none;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}
